//if logged out---
.splash-navbar-container{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $main-color;
    height:55px;
    font-size:22px;

    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.splash-session-options-container{
    font-weight:700;
    color:$secondary-color;
    letter-spacing: 4px;

    width:250px;
    padding:23px;
    display:flex;
    justify-content: space-between;
}

.splash-navbar-about{
    width:250px;
    padding:23px;
    font-weight:700;
    color:$secondary-color;
    letter-spacing: 4px;
}

.splash-navbar-container { 
    height: 55px;
    width: auto;
}

.nav-splash-container{
    display:flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    width: auto;
    height:55px;

    a { 
        display:flex;
        flex-direction: row;
    }
}

.splash-logo{
    width: 55px;
    height: 55px;
}

.splash-logo-text{
    display:flex;
    height: auto;
    align-items: center;
    font-size:36px;
    font-weight:900;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
}

.auth-navbar-container{
    position: fixed;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:$secondary-color;
    height:55px;
    font-size:22px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

// if logged in---
.my-trips{ 
    width:250px;
    padding:23px;
    font-weight:700;
    color: #54cac288;
    letter-spacing: 4px;
}

.logout-btn{ 
    width:160px;
    padding:23px;
    font-weight:700;
    color:$light-secondary;
    letter-spacing: 4px;
}

.logout-btn:hover{
    color: $light;
}
