//sidebar
.trip-sidebar-container{
    border-left: 190px solid white;
	border-bottom: 104px solid transparent;
	border-top: 25px solid transparent;
    height: 700px;
    z-index:0.5;
    
}

.trip-sidebar-container-elements{
    margin-left:-170px;
    margin-top: 30px;
    height: 669px;
    z-index:1;
}

.userslist-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    // border: solid 1px black;
}

.userslist-users-container {
    /* padding: 10px; */
    height: 100%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    border: 1px solid blue;
}

.userslist-header-element-1{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:700;
    color:$light-secondary;
    letter-spacing: 4px;
    font-size: 15px;
    word-wrap: wrap;

}

.trip-users-list {
    margin-top: 10px;
}

.userslist-invite-users-container{
    border:1px solid black;
    height: 20vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;

}
.userslist-header-element-2{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:700;
    color:$light-secondary;
    letter-spacing: 4px;
    font-size: 15px;
    word-wrap: wrap;
}

.userslist-input-element{
    font-family: 'Helvetica Neue', sans-serif;

    color: white;
    background-color:#1a1e25;
    border:1px solid lightgrey;
    outline:none;

    height:24px;
    width: 94%;
    border-radius: 30px;
    text-indent:15px;
}

.userslist-input-element:focus{
    background-color: black;
    outline:none;

}

button.invite-button {
    background: #1a1e25;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    border: 1px solid lightgrey;
    outline: none;
    height: 24px;
    width: 94%;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
}