.edit-trip-container {
    background-color: lightgrey;
    border: 1px solid lightgrey;

    background-image: url("https://images.unsplash.com/photo-1507843528572-dce34aa57530?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1930&q=80");
    background-repeat: no-repeat;
    // background-size: cover;
    background-position-y: -100px;
    display: flex;
    justify-content: center;
}

.edit-trip-form-container {
    margin: 113px;
    border: 1px solid #222831;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #222831;
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-trip-header { 
    margin-top: 60px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight:700;
    color: white;
}

.edit-trip-form { 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 16px 0 50px;
}

.edit-trip-errors {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight:700;

}

.edit-trip-errors-element {
    padding: 8px;
}

.edit-trip-input-element { 
    outline:none;
    margin:10px;
    background-color:#ace3e0;
    outline:none;
    border:1px solid rgb(196, 196, 196);
    height:39px;
    width:380px;
    border-radius: 50px;
    text-indent: 20px;
    color: $dark;
}

.edit-trip-input-element:focus {
    color: white;
}

.edit-trip-input-element:hover, .edit-trip-input-element:focus{
    background-color:grey;
    border: 1px solid grey;
}

.edit-trip-date-element { 
    outline:none;
    margin:10px;
    padding-right: 20px;
    background-color:#ace3e0;
    outline:none;
    border:1px solid rgb(196, 196, 196);
    height:39px;
    width:360px;
    border-radius: 50px;
    text-indent: 20px;
    color: $dark;
    justify-content: center;
}


.edit-trip-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline:none;
    margin:10px;
    background-color:lightgrey;
    outline:none;
    border:1px solid rgb(196, 196, 196);
    height:39px;
    width:300px;
    border-radius: 50px;
    text-indent: 20px;
}

.edit-trip-submit-text {
    outline: none;
    margin: 10px;
    background-color: lightgrey;
    outline: none;
    border: 1px solid #c4c4c4;
    height: 39px;
    width: 300px;
    border-radius: 50px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.edit-trip-submit-text:hover {
    background-color: rgba(103, 101, 101, 0.757);
    cursor: pointer;
}