//itinerary

//itinerary-box
.trip-items-container{
    background-color:#222831;
    margin-bottom:40px;
    height:83.56vh;
    width: 65vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-top:100px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;

    position:relative
}

//header
.trip-items-header h1{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:700;
    color:white;
    font-size: 38px;
    text-align: center;
    height:20px;
}

//tabs

@keyframes change {
  0%   {height:0%}
  50%   {height:50%}
  100% {height:100%}
}

.tabs-container{
    color: white;
    position: absolute;
    margin-left: 102%;
    font-family: "Helvetica", sans-serif;
    height: 300px;
    letter-spacing: 3px;
}

.tabs-container > li{
    list-style-type:none;
    cursor: pointer; 
    padding: 5px;
    margin-top:20px;
}

.current-tab-subcontainer{
    transition: all 300ms;
    animation-name: change;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;

    background-color: darkslategray;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4px;
}

.tab-subcontainer:hover{
    background-color: darkslategray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tabs-container-text h1{
    font-size:10px;
    background-color:white;
}


//items-list
.items-container{
    overflow: auto;
    height: 280px;
}

.itinerary-item-list{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:500;
    color:white;
    font-size: 17px;
    word-wrap: wrap;
    margin:16px;
    height:30px;
    padding:22px;

    border-radius:40px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2b3543;
}

.item-element{
    height: 280px;
}

.items-container::-webkit-scrollbar {
    display: none;
}

.item-detail-side {
    width: 99px;
}

.item-detail-middle {
    width: 224px;
    text-align: center;
    text-overflow: ellipsis;
}

button.item-detail-side {
    background-color: #ace3e0;
    color: black;
    padding: 3px 5px;
    border-radius: 50px;
}

//create-items form
.create-item-container{
    height:100%;
    width:100%;
    // border:1px solid lightgrey;
    // background:rgba(255, 255, 255, 0.066);
    padding-bottom:16px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    overflow:auto;
}

.create-item-first-row{
    display:flex;
    flex-direction:row;
    align-items: center;
    border-top: 1px solid white;
    padding-top:14px;
}
.create-item-input{
    outline:none;
    margin:10px;

    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color:#1a1e25;
    border:1px solid lightgrey;

    height:39px;
    width:380px;
    border-radius: 50px;
    text-indent: 20px;
}

.create-item-input:hover, .create-item-input:focus{
    background-color:transparent;
    border: 1px solid grey;
}


.create-item-input-1{
    outline:none;
    margin:10px;

    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color:#1a1e25;
    border:1px solid lightgrey;
    outline:none;

    height:39px;
    width:175px;
    border-radius: 50px;
    text-indent: 20px;
}

.create-item-input-1:hover, .create-item-input-1:focus{
    background-color:transparent;
    border: 1px solid grey;
}

.create-item-submit-btn{
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color:#1a1e25;
    border:1px solid lightgrey;
    outline:none;
    margin:10px;
    margin-top:30px;
    outline:none;
    height:36px;
    width:95%;
    border-radius: 50px;
}


.create-item-submit-btn:hover{
    background-color: rgba(103, 101, 101, 0.757);
}

.asterisk { 
    font-family: 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.747);
    font-size: 12px;
}
