//sidebar
.trip-sidebar-container{
    border-left: 190px solid white;
	border-bottom: 104px solid transparent;
	border-top: 25px solid transparent;
    height: 700px;
    z-index:0.5;
    
}

.trip-sidebar-container-elements{
    margin-left:-170px;
    margin-top: 46px;
    height: 655px;
    z-index:1;
}

.userslist-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    // border: solid 1px black;
}

.trip-users-text{
    font-family: "Helvetica", sans-serif;
    color:rgb(0, 0, 0);
}

.userslist-users-container {
    /* padding: 10px; */
    height: 100%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    // border: 1px solid blue;
}

.userslist-header-element-1{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:700;
    color:$light-secondary;
    letter-spacing: 4px;
    font-size: 15px;
    word-wrap: wrap;
}

.trip-users-list {
    margin-top: 10px;
}

ul.trip-users-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ace3e0;
    margin-bottom: 20px;
    width: 88%;
    height: 45px;
    border-radius: 10px;
    /* text-align: center; */
    overflow: hidden;
}

ul.trip-users-list > li:hover, {
    background-color: #222831;

    .trip-users-text{
    color:white;
    }

}

.trip-users-element > p {
    margin-left: 13px;
    font-size: 19px;
}

.uninvite-friend {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #1a1e25;
    color: white;
    border-radius: 50px;
}

.uninvite-friend:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px darkgray;
}

.userslist-invite-users-container{
    // border:1px solid black;
    height: 20vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;

}
.userslist-header-element-2{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:700;
    color:$light-secondary;
    letter-spacing: 4px;
    font-size: 15px;
    word-wrap: wrap;
}

.userslist-input-element{
    background: #1a1e25;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    border: 1px solid lightgrey;
    outline: none;
    height: 24px;
    width: 91%;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
}

.userslist-input-element:focus{
    background-color: darkslategray;
    outline:none;

}

ul.users-list-errors {
    width: 168px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
}

button.invite-button {
    background: #1a1e25;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    border: 1px solid lightgrey;
    outline: none;
    height: 40px;
    width: 94%;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
    padding: 1px 2px;
}

.invite-button:hover{
    background-color: grey;
}